version: "3.5"

networks:
  traefik:
    external: true
  central-de-vagas:
    external: true

services:
  application:
    hostname: central_vagas_reporter_service_prod

    image: 192.168.12.31:5000/ifro/central-vagas-reporter-service:production

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]

    deploy:
      mode: replicated
      replicas: 1

      update_config:
        order: start-first
        failure_action: rollback
        delay: 5s

      restart_policy:
        condition: any
        max_attempts: 3
        delay: 5s
        window: 10s

      # labels:
      #   - "traefik.enable=true"
      #   - "traefik.docker.network=traefik"
      #   - "traefik.http.routers.central-vagas-reporter-service-prod.rule=Host(`centraldevagas.defensoria.ro.def.br`) && PathPrefix(`/api/v1`)"
      #   - "traefik.http.routers.central-vagas-reporter-service-prod.entrypoints=http"
      #   - "traefik.http.routers.central-vagas-reporter-service-prod.middlewares=central-vagas-reporter-service-prod-redirecthttps@swarm"
      #   - "traefik.http.middlewares.central-vagas-reporter-service-prod-redirecthttps.redirectscheme.scheme=https"
      #   - "traefik.http.middlewares.central-vagas-reporter-service-prod-redirecthttps.redirectscheme.permanent=true"
      #   - "traefik.http.routers.central-vagas-reporter-service-prod-secure.rule=Host(`centraldevagas.defensoria.ro.def.br`) && PathPrefix(`/api/v1`)"
      #   - "traefik.http.routers.central-vagas-reporter-service-prod-secure.entrypoints=https"
      #   - "traefik.http.routers.central-vagas-reporter-service-prod-secure.tls=true"
      #   - "traefik.http.routers.central-vagas-reporter-service-prod-secure.tls.certresolver=letsencrypt"
      #   - "traefik.http.services.central-vagas-reporter-service-prod.loadbalancer.server.port=80"

      resources:
        limits:
          cpus: "4"
          memory: 4GB

    networks:
      - traefik
      - central-de-vagas
