<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resumo dos logs de debug</title>

  <style>
    code {
      overflow: hidden;
      text-wrap: wrap;
    }
  </style>
</head>


<body>

  <section>
    <h1>Visão geral dos logs de debug</h1>

    <ul>
      {{#each this.logs}}
      {{> debugSummaryItem}}
      {{/each}}
    </ul>
  </section>

</body>

</html>