{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^typeorm",
    "^@nestjs/swagger",
    "^uuid",
    "^class-validator",
    "^class-transformer",
    "^\\.\\./helpers",
    "^\\.\\./base",
    "^\\.\\./entities",
    "^\\.\\."
  ],
  "importOrderSeparation": true
}
