<li>

  <p>
    ID:
    <code>{{{this.id}}}</code>
  </p>

  <p>
    timestamp:
    <code>{{{this.timestamp}}}</code>
  </p>

  <pre><code>{{{jsond this.error}}}</code></pre>

  {{!-- {{#each this.error}}
  {{> person}}
  {{/each}} --}}
</li>